<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DJBooking</title>
        <link rel="stylesheet" href="{% static 'static/style.css' %}">
    </head>
    <body>
        <div class="container elements-center" id="arial">
            <h1>Ласкаво просимо в DJBooking!</h1>
            <a href="/Django_4_Python/templates/rooms_list.html">Список кімнат</a>
        </div>
    </body>
</html>